@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black font-balsamiq text-white
  }
}

.home-bottom-image {
  animation: backgroundScroll 10s linear 1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0px;
  }
  100% {
    background-position: 0 0;
  }
}